.b-gallery {
    padding-top: 80px;
}

.b-gallery__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &--even {
        background-color: var(--color-bcg);
    }
    &--odd {
        background-color: var(--dark-bcg);
    }
}

.b-gallery__image {
    max-height: 275px;
}