@font-face {
    font-family: "Futura Medium";
    src: url(../../public/fonts/futura/futura-medium-bt.ttf);
}

@font-face {
    font-family: "Futura Light";
    src: url(../../public/fonts/futura/futura-light-bt.ttf);
}

@font-face {
    font-family: "Futura Bold";
    src: url(../../public/fonts/futura/Futura-Bold-font.ttf);
}

:root {
    --body-font: "Futura Light";
    --heading-font: "Futura Medium";
    --heading-home: "Futura Bold"
}

.text-color {
    &--even {
        color: var(--main-text);
    }
    &--odd {
        color: var(--light-bcg);
    }
}

.beer-info {
    font-family: var(--heading-font);
    margin: 10px 0;
    &--subheading {
        font-size: 18px;
    }
    &--heading {
        font-size: 28px;
    }
}

.beer-info__text {
    margin: 10px 0;
    font-size: 16px;
}

.beer-info__desc {
    margin: 40px 30px;
}

.b-home__heading {
    text-transform: uppercase;
    font-family: var(--heading-home);
    font-size: 34px;
}

.b-home__subheading {
    font-size: 16px;
    margin: 30px 0;
}