.b-home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    padding: 0 30px;
    background-image: url(../../public/images/home-bcg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}